<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <style>

        </style>
        <h1>Add Pokemon</h1>
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" placeholder="Pokemon"/>
            Type: <input type="text" name="type" placeholder="Pokemon Type"/>
            Image: <input type="text" name="img" placeholder="Image"/>
            HP: <input type="text" name="hp" placeholder="HP"/>
            Attack: <input type="text" name="attack" placeholder="Attack"/>
            Defense: <input type="text" name="defense" placeholder="Defense"/>
            Speed: <input type="text" name="speed" placeholder="Speed"/>
            <input type="submit" value="Create Pokemon"/>
        </form>
        <nav>
            <a href="/pokemon">Back to Pokedex</a>
        </nav>
    </body>
</html>